body{
    height: 100vh;
    display: flex;
    background-color:#22252d2d ;

    justify-content: center;
    align-items: center;
    font-family: 'Urbanist', sans-serif;
    font-weight: bold;
}




#calculator{
    box-shadow:10px 10px 10px #22252d5e;
    border-radius: 30px;
    padding: 1em;
    width: 300px;
    background-color: #22252D;

}
#display-container{
  
    height: 101px;
 
    color: white;

}

.button{
    color: white;
}
.button{
    height: 55px;
    width: 69px;
    background-color: #282B33;
    display: flex;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    margin: 6px;
}


#first{
    display: flex;
}

#second{
    display: flex;
}

#third{
    display: flex;
}

#first_one {
    
    display: flex;
}

#fourth{
    display: flex;
}

#doublespace{
    width: 120px;
}

#display{
    word-break: break-all;
    text-align: end;
    font-size:large;
    
}


#operation-container{
    border-radius: 10px 10px 0px 0px;;
    background-color: #2A2D37;
}

.green{
    color: #4DDCC4;
}

.orange{
    color: #C07376;
}